.container__big-card{
    margin-left: 20px;
    margin-right: 20px;
    width: 500px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.big-card__title h1{
    font-size: 20px;
}

.big-card__text p {
    color: grey;
}

.big-card__pic img{
    width: 100%;
    min-width: 500px;
}
