.title{
    color:white;
}

.title h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 135px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.title hr{
    margin-top: 25px;
    margin-bottom: 25px;
}
