<app-title> </app-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            [id]="1"
            photoCover="https://image.cachorrogato.com.br/textimages/gato-preto.jpg"
            cardTitle="Gatinho preto procurado por causar o caos"
            cardDescription="gatinho preto procurado por cometer diversos crimes"
        ></app-big-card>
    </div>
    <div class="articles__small">
        <app-small-card
            [id]="2"
            picUrl="https://assets.grok.com/users/ba4b6e50-dd74-43c7-b982-31ee98347c1d/generated/OZD8OZG0y16bZYAi/image.jpg"
            title="Gangue de gatinhos de óculos salva o mundo"
        ></app-small-card>
        <app-small-card
            [id]="3"
            picUrl="https://assets.grok.com/users/ba4b6e50-dd74-43c7-b982-31ee98347c1d/generated/OZD8OZG0y16bZYAi/image.jpg"
            title="Gangue de gatinhos de óculos salva o mundo"
        ></app-small-card>
        <app-small-card
            [id]="4"
            picUrl="https://assets.grok.com/users/ba4b6e50-dd74-43c7-b982-31ee98347c1d/generated/OZD8OZG0y16bZYAi/image.jpg"
            title="Gangue de gatinhos de óculos salva o mundo"
        ></app-small-card>
    </div>
</div>
